//구글폰트
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');



//컬러 변수 값
$txt_color1: #333;
$txt_color2: #fff;


$bg_color_g: #1c1a1d;
$bg_color_y: #ff0;

$nav_color1: #00B3FF;
$nav_color2: #006EFF;

$txt_color3: #225499;
$txt_color4: #3B8BAE;
$txt_color5: #052B58;

$line_color_g: #ccc;
$bg_color_light_g: #ededed;

//글자크기 제목, 본문 변수
$t_size_s: 12px;
$t_size_ss: 14px;
$t_size_m: 16px;

$t_size_t1: 22px;
$t_size_t2: 20px;
$t_size_t3: 34px;

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: $t_size_s;
  color: $txt_color1;
  background: $txt_color2;
  overflow-x: hidden;
}

a {
  color: $txt_color1;
  text-decoration: none;
}

address {
  font-style: normal;
}

//화면 스크롤시 헤더 추가서식
.h_on {
  background: rgba(255, 255, 255, 0.9) !important;
}

//화면 스크롤시 헤더 내비게이션 추가서식
.h_txt_color {
  color: $txt_color1 !important;
}

//폼 양식에 들어가는 버튼서식, input서식          

//모달 서식
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  >.m_inner {
    position: relative;
    width: 450px;
    height: 650px;
    background: $txt_color2;

    >.btn_area {
      border-top: 2px solid $txt_color1;
      display: inline-block;
      line-height: 30px;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      >input {
        background: #fff;
        border: none;
        font-size: $t_size_m;
      }
    }
  }
}