//컬러변수
$txt_color1: #333;
$txt_color2: #fff;

$f_bg_color: #1C1A1D;
$bg_color_y: #ff0;

$nav_color1: #00B3FF;
$nav_color2: #006EFF;

$txt_color3: #225499;
$txt_color4: #3B8BAE;
$txt_color5: #052B58;

$line_color_g: #ccc;

//글자 크기 제목, 본문 변수
$t_size_s: 12px;
$t_size_m: 16px;

$t_size_t1: 22px;
$t_size_t2: 20px;

//기본 글꼴
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: $t_size_s;
    color: $txt_color1;
    background: $txt_color2;
    overflow-x: hidden;
}

a {
    color: $txt_color1;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

address {
    font-style: normal;
}

//화면 스크롤 시 헤더 추가서식
.h_on {
    background: rgba(255, 255, 255, 0.9) !important;
}

//화면 스크롤 시 헤더 내비게이션 추가 서식
.h_txt_color {
    color: $txt_color1 !important;
}

//폼양식에 들어가는 버튼 서식, input서식 