// @import 'common';
@use 'common' as *;

// layout.scss 레이아웃
$ani_time: 0.3s;
$box_center: margin 0 auto;

// header
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 1000;
    transition: $ani_time;

    >h1 {
        // position: relative;
        padding: 24px 0 0 2%;
    }

    >div[class^="nav_icon"] {
        width: 40px;
        position: absolute;
        top: 24px;
        text-align: center;


        span:last-child {
            display: none;
        }

        span.fas {
            font-size: $t_size_t1;
            color: $txt_color2;
            cursor: pointer;
        }

    }

    //각각 위치 지정
    >.nav_icon1 {
        right: 3.5%;
    }

    >.nav_icon2 {
        right: 1%;
    }
}

//메인 메뉴 서식
header nav {
    width: 600px;
    margin: -24px auto;
    //transform: translateY(-24px);
}

header nav .gnb {
    display: flex;
    justify-content: space-around;
}

header nav .gnb a {
    color: $txt_color2;
    font-size: $t_size_m;
}

header nav .gnb a:hover {
    text-decoration: underline;
}




// footer
footer {
    background: $f_bg_color;
    height: 177px;
}